@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Basier Circle';
  src: url('../fonts/BasierSquare-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  h1,
  p {
    @apply text-[#060B13];
  }

  header {
    max-width: 1536px !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}

footer input::placeholder {
  font-family: 'Basier Circle', sans-serif;
}

.promo span[role='button'] {
  margin-right: 16px;
}
